@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/
body {
	/* width: 900px; */
	margin: 0 auto;
	background-color: rgb(139, 193, 242);
}
h1 {
	width: 500px;
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	padding: 5px;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #eaf3ff;/*背景色*/
  border-bottom: solid 3px #516ab6;/*下線*/
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#header {
	padding: 40px 10px 10px 10px;
}
#wrapper {
  width: 900px;
  margin: 100px auto;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	position: relative;/*footerを下部に配置*/
}
#wrapper a {
  font-size: 30px;
  color: #494949;/*文字色*/
}
#wrapper .line {
  border-top: 2px solid rgb(156, 163, 167);
}
.span_box {
  display: block; 箱が大きくなったので消した　箱全体をリンクにする
}
.span_box:hover {
	background-color: rgb(65, 82, 107);
	color: #eaf3ff;;
}
#twitter {
	width: 900px;
	margin: 0 auto;
	display: flex;
}
#twitter_list {
	width: 900px;
	margin: 100px auto;
	background: #FFFFFF;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#twitter_post {
	width: 400px;
	height: 500px;
	margin: 100px auto;
	background: #FFFFFF;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#footer {
	width: 100%;
	border-top: solid 3px #516ab6;
	padding: 5px;/*文字周りの余白*/
	color: #010101;/*文字色*/
	background: #eaf3ff;/*背景色*/
	position: absolute;
	bottom: 0;
	text-align: center;
	position: fixed;
}
.insta__wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.insta__wrap img {
	width: 200px;
}
.insta__item {
  margin: 1rem;
}
.insta__wrap2 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.insta__wrap2 img {
	width: 100px;
}


































/* {} */
